  <h1>Subjects</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Faculty</th>
      </tr>
    </thead>
    <tbody>
      <!-- ko foreach: subjects -->
      <tr>
        <td><input name="name" placeholder="Name" data-bind="value: name, blur: updateSubject"></td>
        <td><input name="code" placeholder="Code" data-bind="value: code"></td>
        <td><input name="faculty" placeholder="Faculty" data-bind="value: faculty" list="faculties"></td>
      </tr>
      <!-- /ko -->
    </tbody>
  </table>


  <pre><?php var_dump($subjects); ?></pre>
  
