/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_modules/base.scss */
body {
  background: fixed black url(/img/teacher.jpg) no-repeat;
  background-size: cover;
  color: #FFF;
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
  margin: 0;
}

/* line 11, ../sass/_modules/base.scss */
h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* line 19, ../sass/_modules/base.scss */
pre {
  background: rgba(0, 0, 0, 0.8);
  font-family: monospace;
  margin: 1em auto;
  padding: 1em;
  text-align: left;
  width: 40em;
}

/* line 2, ../sass/_modules/layout.scss */
#container {
  margin: 0 auto;
  text-align: center;
}

/* line 1, ../sass/_modules/navigation.scss */
nav {
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 2em;
}
/* line 4, ../sass/_modules/navigation.scss */
nav li {
  display: inline-block;
}
/* line 7, ../sass/_modules/navigation.scss */
nav li a {
  color: #FFF;
  display: inline-block;
  padding: 0.5rem 1em;
  text-decoration: none;
  transition: all 0.25s ease;
}
/* line 14, ../sass/_modules/navigation.scss */
nav li a:hover, nav li a:focus {
  background: rgba(0, 0, 0, 0.1);
}

/* line 4, ../sass/_modules/forms.scss */
input {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem;
}
/* line 12, ../sass/_modules/forms.scss */
input:focus {
  background: rgba(255, 255, 255, 0.3);
  color: #FFF;
}
/* line 17, ../sass/_modules/forms.scss */
table input {
  border: none;
  text-align: center;
}

/* line 27, ../sass/_modules/forms.scss */
button {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
  padding: 0.7em;
}

/* line 1, ../sass/_modules/tables.scss */
table {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}
/* line 6, ../sass/_modules/tables.scss */
table th, table td {
  padding: 0.5rem;
  text-align: center;
}
/* line 11, ../sass/_modules/tables.scss */
table th {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 17, ../sass/_modules/tables.scss */
table th a {
  color: rgba(255, 255, 255, 0.8);
}
/* line 22, ../sass/_modules/tables.scss */
table tbody {
  overflow-x: scroll;
}
/* line 27, ../sass/_modules/tables.scss */
table td input {
  background: none;
}

/* line 1, ../sass/_modules/cake.scss */
.error {
  background: rgba(255, 0, 0, 0.8);
  padding: 1em;
}

/* line 5, ../sass/_modules/cake.scss */
.notice {
  background: rgba(255, 255, 0, 0.8);
  padding: 1em;
}

/* line 12, ../sass/_modules/cake.scss */
.input label {
  clear: both;
}

/* line 20, ../sass/_modules/cake.scss */
.actions h3 {
  text-indent: -999em;
}
/* line 24, ../sass/_modules/cake.scss */
.actions li {
  display: inline-block;
  margin: 0 0.5em 0 0;
}
/* line 28, ../sass/_modules/cake.scss */
.actions a {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.3s all ease;
}
/* line 38, ../sass/_modules/cake.scss */
.actions a:hover, .actions a:focus {
  background: rgba(0, 0, 0, 0.8);
}

/* line 45, ../sass/_modules/cake.scss */
dl {
  background: rgba(0, 0, 0, 0.2);
}
/* line 49, ../sass/_modules/cake.scss */
dl dt, dl dd {
  display: inline-block;
  padding: 0.5em;
  width: 45%;
}
/* line 55, ../sass/_modules/cake.scss */
dl dt {
  font-weight: bold;
  opacity: 0.5;
  text-align: right;
  text-transform: uppercase;
}
/* line 62, ../sass/_modules/cake.scss */
dl dd {
  text-align: left;
}

/* line 6, ../sass/_modules/observations.scss */
.average {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

/* line 15, ../sass/_modules/observations.scss */
.observation .score-1 {
  background: rgba(50, 255, 50, 0.7);
}
/* line 19, ../sass/_modules/observations.scss */
.observation .score-2 {
  background: rgba(255, 200, 50, 0.7);
}
/* line 23, ../sass/_modules/observations.scss */
.observation .score-3 {
  background: rgba(255, 255, 50, 0.7);
}
/* line 27, ../sass/_modules/observations.scss */
.observation .score-4 {
  background: rgba(255, 50, 50, 0.7);
}
