$base-font : 'HelveticaNeue-Light', Arial, sans-serif;

body {
  background: fixed #000 url(/img/teacher.jpg) no-repeat;
  background-size: cover;
  color: #FFF;
  font-family: $base-font;
  margin: 0;
}

h1, h2  {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 13px rgba(0,0,0,0.2);
  text-transform: uppercase;
}

pre {
  background: rgba(0,0,0,0.8);
  font-family: monospace;
  margin: 1em auto;
  padding: 1em;
  text-align: left;
  width: 40em;
}

