.error {
  background: rgba(255,0,0,0.8);
  padding: 1em;
}
.notice {
  background: rgba(255,255,0,0.8);
  padding: 1em;
}

.input {

  label {
    clear: both;
  }

}

.actions {

  h3 {
    text-indent: -999em;
  }

  li {
    display: inline-block;
    margin: 0 0.5em 0 0;
		  }
  a {
    display: inline-block;
    background: rgba(0,0,0,0.5);
    color: rgba(255,255,255, 0.8);
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.3s all ease;
    
    &:hover, &:focus {
      background: rgba(0,0,0,0.8);
      
    }
  }
}

dl {

  background: rgba(0,0,0,0.2);

  dt, dd {
    display: inline-block;
    padding: 0.5em;
    width: 45%;
  }
  
  dt {
    font-weight: bold;
    opacity: 0.5;
    text-align: right;
    text-transform: uppercase;
  }
  
  dd {
    text-align: left;
  }
}