$base-font : 'HelveticaNeue-Light', Arial, sans-serif;


input {
  
  background: rgba(0,0,0,0.5);
  border: none;
  font-family: $base-font;
  font-size: 1.1rem;
  padding: 0.5rem;
  
  &:focus {
    background: rgba(255,255,255,0.3);
    color: #FFF;
  }

  table & {
    border: none;
    text-align: center;

    &[type=number] {
    }
  }

}

button {
  background: rgba(0,0,0,0.8);
  border: none;
  color: rgba(255,255,255,0.8);
  font-family: $base-font;
  padding: 0.7em;
}