nav {
  background: rgba(255,255,255,0.3);
  margin-bottom: 2em;
  li {
    display: inline-block;
    
    a {
      color: #FFF;
      display: inline-block;
      padding: 0.5rem 1em;
      text-decoration: none;
      transition: all 0.25s ease;
      
      &:hover, &:focus {
        background: rgba(0,0,0,0.1);
      }
      
    }
  }
  
}