$color-score-1 : rgba(50,255,50,0.7);
$color-score-2 : rgba(255,200,50,0.7);
$color-score-3 : rgba(255,255,50,0.7);
$color-score-4 : rgba(255,50,50,0.7);

.average {
  font-weight: bold;
  background: rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.5);
  border-right: 2px solid rgba(0,0,0,0.5);
}

.observation {
  
  .score-1 {
    background: $color-score-1;
  }

  .score-2 {
    background: $color-score-2;
  }
  
  .score-3 {
    background: $color-score-3;
  }

  .score-4 {
    background: $color-score-4;
  }
  
  .average {
  }
  
}