table {
  
  background: rgba(0,0,0,0.1);
  width: 100%;

  th, td {
    padding: 0.5rem;
    text-align: center;
  }
  
  th {
    color: rgba(0,0,0,0.3);
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    
    a {
      color: rgba(255,255,255,0.8);
    }
  }
  
  tbody {
    overflow-x: scroll;
  }
  
  td {
    input {
      background: none;
    }
  }

}