/* line 1, ../../sass/_modules/cake.scss */
.error {
  background: rgba(255, 0, 0, 0.8);
  padding: 1em;
}

/* line 5, ../../sass/_modules/cake.scss */
.notice {
  background: rgba(255, 255, 0, 0.8);
  padding: 1em;
}

/* line 12, ../../sass/_modules/cake.scss */
.input label {
  clear: both;
}

/* line 20, ../../sass/_modules/cake.scss */
.actions h3 {
  text-indent: -999em;
}
/* line 24, ../../sass/_modules/cake.scss */
.actions li {
  display: inline-block;
  margin: 0 0.5em 0 0;
}
/* line 28, ../../sass/_modules/cake.scss */
.actions a {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.3s all ease;
}
/* line 38, ../../sass/_modules/cake.scss */
.actions a:hover, .actions a:focus {
  background: rgba(0, 0, 0, 0.8);
}

/* line 45, ../../sass/_modules/cake.scss */
dl {
  background: rgba(0, 0, 0, 0.2);
}
/* line 49, ../../sass/_modules/cake.scss */
dl dt, dl dd {
  display: inline-block;
  padding: 0.5em;
  width: 45%;
}
/* line 55, ../../sass/_modules/cake.scss */
dl dt {
  font-weight: bold;
  opacity: 0.5;
  text-align: right;
  text-transform: uppercase;
}
/* line 62, ../../sass/_modules/cake.scss */
dl dd {
  text-align: left;
}
