/* line 4, ../../sass/_modules/forms.scss */
input {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem;
}
/* line 12, ../../sass/_modules/forms.scss */
input:focus {
  background: rgba(255, 255, 255, 0.3);
  color: #FFF;
}
/* line 17, ../../sass/_modules/forms.scss */
table input {
  border: none;
  text-align: center;
}

/* line 27, ../../sass/_modules/forms.scss */
button {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
  padding: 0.7em;
}
