/* line 1, ../../sass/_modules/navigation.scss */
nav {
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 2em;
}
/* line 4, ../../sass/_modules/navigation.scss */
nav li {
  display: inline-block;
}
/* line 7, ../../sass/_modules/navigation.scss */
nav li a {
  color: #FFF;
  display: inline-block;
  padding: 0.5rem 1em;
  text-decoration: none;
  transition: all 0.25s ease;
}
/* line 14, ../../sass/_modules/navigation.scss */
nav li a:hover, nav li a:focus {
  background: rgba(0, 0, 0, 0.1);
}
