/* line 6, ../../sass/_modules/observations.scss */
.average {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

/* line 15, ../../sass/_modules/observations.scss */
.observation .score-1 {
  background: rgba(50, 255, 50, 0.7);
}
/* line 19, ../../sass/_modules/observations.scss */
.observation .score-2 {
  background: rgba(255, 200, 50, 0.7);
}
/* line 23, ../../sass/_modules/observations.scss */
.observation .score-3 {
  background: rgba(255, 255, 50, 0.7);
}
/* line 27, ../../sass/_modules/observations.scss */
.observation .score-4 {
  background: rgba(255, 50, 50, 0.7);
}
