/* line 1, ../../sass/_modules/tables.scss */
table {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}
/* line 6, ../../sass/_modules/tables.scss */
table th, table td {
  padding: 0.5rem;
  text-align: center;
}
/* line 11, ../../sass/_modules/tables.scss */
table th {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 17, ../../sass/_modules/tables.scss */
table th a {
  color: rgba(255, 255, 255, 0.8);
}
/* line 22, ../../sass/_modules/tables.scss */
table tbody {
  overflow-x: scroll;
}
/* line 27, ../../sass/_modules/tables.scss */
table td input {
  background: none;
}
